.header
  .header_main
    = image_tag "pict/pict-reason-01.jpg",class:"header_main_icon"
    Nexus Partner
  .header_nav
    = link_to "トップページ", root_path, class: "btn"
    = link_to "ログイン", "sign_in", class: "top_btn"
    = link_to "新規登録", "sign_up", class: "btn"
.main
  .topintroduction
    .from_group
      %label.label
        メールアドレス
      %input{:type => "email", class:"from_control", :name => "session[email]", :id => "session_email"}
      %label.label
        パスワード
      %input{:type => "Password", class:"from_control", :name => "session[email]", :id => "session_email"}
      =link_to "#" do
        %button{:type => "submit", :name => "commit", :value => "Log in", class:"from_btn"} sing-in
  .visual
    .visual_content
      .visual_content_subtitle
        動画をバズらせたい！
        %br
        そのパートナーを見つけ出すアプリ！
      .log__btn
        .abtn
          =link_to image_tag("pict/app.png",class:"bottom editing"),"#"
        =link_to image_tag("pict/google-play-badge.png",class:"gbtn bottom"),"#"