.header
  .header_main
    = image_tag "pict/pict-reason-01.jpg",class:"header_main_icon"
    Nexus Partner
  .header_nav
    = link_to "トップページ", root_path, class: "btn"
    = link_to "ログイン", "sign_in", class: "btn"
    = link_to "新規登録", "sign_up", class: "top_btn"
.main
  .topintroduction
    .from_group
      %label.label
        ニックネーム
      %input{:type => "text", class:"from_control", :name => "user[nickname]", :id => "nickname"}
      %label.label
        メールアドレス
      %input{:type => "email", class:"from_control", :name => "user[email]", :id => "email"}
      %label.label
        パスワード
      %input{:type => "Password", class:"from_control", :name => "user[encrypted_password]", :id => "encrypted_password"}
      %label.label
        役職
      %select{class:"from_control", :name => "user[each_split]", :id => "each_split"}
        
      =link_to "#" do
        %button{:type => "submit", :name => "commit", :value => "Log in", class:"from_btn"} Sing-up
  .visual
    .visual_content
      .visual_content_subtitle
        動画をバズらせたい！
        %br
        そのパートナーを見つけ出すアプリ！
      .log__btn
        .abtn
          =link_to image_tag("pict/app.png",class:"bottom editing"),"#"
        =link_to image_tag("pict/google-play-badge.png",class:"gbtn bottom"),"#"